@import "src/_variables.scss";
@import "src/_mixins.scss";

.chart{
  min-width: 300px;
  max-width: 500px;
  min-height: 75px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  @include border-radius(8px);
  @include box-shadow($shadow-1);
  &:hover{
    @include box-shadow($shadow-2);
  }
}
