
//=====================================
//IMPORTS
//=====================================
@import '_mixins';
//=====================================
//SETTINGS
//=====================================
$main-color: #1e8c64;

//=====================================
//BASE STYLE
//=====================================
html, body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}
html{
    height: 100%;
}

a, a:hover, a:focus {
  // color: $main-color !important;
}

::selection {
    // background: #b3d4fc;
    // text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}

.brand-logo{
	width: auto;
	height: 50px;
}

i, input[type="checkbox"]{
    vertical-align: middle;
}
//=====================================
//PRELOADER
//=====================================
.preloader{
  width: 0%;
  height: 3px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.preloader-animated{
	@include transition(width 2s cubic-bezier(.55,0,.1,1));
	width: 100%;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.5);
	z-index: 99999;
	display: none;
}
//=====================================
//LAYERS
//=====================================
#layer-control{
    position: fixed;
    left: -177px;
    top: 150px;
    transition: .5s linear;
    z-index: 1000;
    color: #676767;
    &.open{
        left: 0px;
    }
    .layers{
        width: 175px;
        float: left;
        border: 1px solid #D6D6D6;
        background-color: #f7f7f7;
        h3{
            padding: 5px;
            border-bottom: 1px solid #D6D6D6;
            margin-top: 0;
            font-weight: 400;
            text-align: center;
            // text-transform: uppercase;
            font-size: 18px;
            // font-weight: bold;
        }
    }
    .layers-toggle{
        float: left;
        // width: 25px;
        // height: 25px;
        padding: 5px;
        background-color: blue;
        a{
            color: white;
            text-decoration: none;
        }
    }

}
//=====================================
//NAV
//=====================================
nav{
    width: 100%;
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 5px;
        }
    }
}
//=====================================
//SECTION
//=====================================

/*=================================================
4 - MAP
=================================================*/
.map-wrap{
    height: 100%;
    width: 100%;
}
#map-canvas{
    min-height: 100%;
    height: 100vh;
    width: 100%;
}
#content-wrapper{
    overflow: hidden;
    line-height:1.65;
    overflow:hidden;
    white-space:nowrap;
    font-size: 14px;
}
#content-wrapper .item-title{
    margin-bottom: 3px;
    display: inline-flex;
    line-height: 50px;
    color: rgb(59, 39, 39);
    font-size: 26px;
    font-weight: bold;
}
#content-wrapper .item-title h2{
    color: rgb(59, 39, 39);
}
#content-wrapper .separator{
    background-color: black;
    height: 2px;
    width:100%;
    margin: 0px;
    margin-bottom: 7px;
    border: none;
}
#content-wrapper .item-title .fa{
    margin-right:5px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}

#content-wrapper .fa:hover{
    color: white;
    background-color: black;
}

#content-wrapper label{
    font-weight: bold;
    text-transform: capitalize
}

#content-wrapper label .fa{
    margin-right: 5px;
    width: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
}

#street{
    margin-top: 10px;
    border: 2px solid black;
}
.gm-style .gm-style-iw{
    margin-left: 8px;
}

a[href^="http://maps.google.com/maps"]{
    display:none !important
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.gm-style-cc { display:none; }

#logo{
    display: inline-flex;
    line-height: 75px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.logo-title{
    font-family: 'Pacifico', cursive !important;
    line-height: 75px;
    margin-left: 15px;
    text-shadow: 2px 3px rgb(59, 39, 39);
    color: rgb(27, 25, 25);
}
#logo .logo-title{
    font-size: 60px;
}