@import url(http://fonts.googleapis.com/css?family=Alegreya);
html, body {
  min-height: 100%; }

  body{
    height: 100%;
}
html{
    height: 100%;
}

.preloader {
  width: 0%;
  height: 3px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }

.preloader-animated {
  -webkit-transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
  -ms-transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%; }

.body-content {
  margin-top: 100px; }

.navbar-toggle {
  color: white;
  margin-top: 14px;
  margin-bottom: 14px; }

.nav-active {
  color: white !important; }

.navbar-inverse.navbar .dropdown-menu li > a:hover, .navbar-inverse.navbar .dropdown-menu li > a:focus {
  color: #18396c !important; }

.user-menu .user-menu-area {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding: 13px !important; }

i {
  color: #18396c; }

.brand-logo {
  padding: 6px 15px 6px 0px;
  width: 136px;
  height: 61px; }

.user-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px; }

i#user-menu {
  vertical-align: middle;
  color: white; }

.user-menu-icons {
  vertical-align: middle;
  font-size: 20px !important;
  top: -2px;
  position: relative; }

.panel-heading, .navbar-inverse.navbar {
  background-color: #18396c !important; }

.logout-window {
  z-index: 1;
  color: #000; }

.modal-backdrop {
  z-index: 0; }

.content h1 {
  text-align: center;
  margin-bottom: 30px; }

.index-feature img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative; }

.index-calendar {
  text-align: center; }
  .index-calendar img {
    width: 200px;
    height: auto; }

.mensagens-rh {
  margin-top: 20px; }
  .mensagens-rh .panel-body {
    text-align: center; }
  .mensagens-rh .rh-message {
    text-align: left; }
    .mensagens-rh .rh-message .message-title h4 {
      display: inline-block; }
    .mensagens-rh .rh-message .message-text {
      padding-left: 20px; }

.marker {
  margin-right: 5px;
  padding: 2px;
  border: 1px solid #18396c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  display: inline-block; }
  .marker .marker-inner {
    background-color: #18396c;
    height: 6px;
    width: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    display: block; }

.message-separator {
  background-color: #e7e7e7;
  display: inline-block;
  width: 100%;
  height: 1px; }

.marca-ponto {
  line-height: 2; }

.horario-row i {
  position: relative;
  top: 4px;
  padding-right: 15px; }

.table-horas i {
  font-size: 18px; }

.dashed-input {
  border: 1px dashed darkgray !important; }

.controles-relatorio-consolidado {
  text-align: right; }

#relatorioIndividual #inputPeriodo, #relatorioIndividual #inputPeriodo2 {
  width: 45%;
  display: inline-block; }

#relatorioIndividual .period-separator {
  margin-left: 8px;
  margin-right: 8px; }

.index-feature {
  text-align: center; }

.bordered-gray {
  border-left: 5px solid #8E8E8E; }

.bordered-red {
  border-left: 5px solid #f44336; }

.bordered-green {
  border-left: 5px solid #4caf50; }

.file-preview img {
  margin-bottom: 3px; }

.table-log td {
  min-width: 90px; }

.expanded-field {
  word-wrap: break-word; }
  .expanded-field a, .expanded-field .expand-link {
    display: block;
    color: #18396c; }
    .expanded-field a:hover, .expanded-field a:focus, .expanded-field .expand-link:hover, .expanded-field .expand-link:focus {
      color: #18396c; }
    .expanded-field a i, .expanded-field .expand-link i {
      position: relative;
      top: 5px;
      padding-left: 4px; }
  .expanded-field .expand-exception, .expanded-field .expand-params {
    display: block; }
  .expanded-field .hide-exception, .expanded-field .hide-params {
    display: none; }

.inner-exception-message {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  -ms-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1); }

.param-row {
  display: none; }

.expanded-param {
  display: table-row; }

.expand-params i, .hide-params i {
  top: 3px !important; }

.right {
  text-align: right; }

.custom-pagination {
  text-align: center; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #18396c;
  border-color: #18396c;
  color: white !important; }

.pagination a, .pagination a:hover, .pagination a:focus {
  color: #18396c; }

/*Media Queries*/
@media (max-width: 991px) {
  .index-feature img {
    width: 30%; }
  .index-calendar img {
    width: 250px; } }

@media (max-width: 768px) {
  .brand-logo {
    margin-left: 30px; } }

/*-------LOGIN-------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99999;
  display: none; }

.login-box {
  border-top: 5px solid #18396c;
  background-color: white;
  max-width: 350px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 2px;
  -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
  animation: cardEnter 0.75s ease-in-out 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0; }
  .login-box .form-group {
    padding-left: 15px;
    padding-right: 15px; }

.login-box-header {
  text-align: center; }
  .login-box-header .login-box-logo {
    width: 100%;
    height: auto; }
  .login-box-header .login-box-subtitle {
    font-size: 24px;
    padding: 15px; }

.floating-label {
  color: #18396c !important; }

#form-login-remember {
  display: inline-block;
  padding-left: 0px; }
  #form-login-remember label {
    color: #18396c !important; }
    #form-login-remember label .chk-span {
      border-color: #18396c; }
    #form-login-remember label .chk-span.checked {
      border-left-color: #18396c;
      border-bottom-color: #18396c;
      border-right-color: transparent;
      border-top-color: transparent; }

.form-submit-btn {
  float: right;
  display: inline-block; }
  .form-submit-btn .btn {
    background-color: #18396c !important; }

.form-lost-pwd {
  text-align: center;
  padding: 15px;
  font-size: 12px; }
  .form-lost-pwd a, .form-lost-pwd a:hover, .form-lost-pwd a:focus {
    color: #18396c; }

.login-messages {
  text-align: center;
  font-size: 12px;
  display: none; }

.login-loader {
  text-align: center;
  display: none; }
  .login-loader .circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px; }
  .login-loader .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #18396c; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

.period p .period-legend {
  font-weight: bold; }

.period p .period-content {
  display: inline-flex;
  padding-left: 5px; }

.icon-table i {
  top: 5px;
  position: relative;
  padding-right: 5px;
  color: #f44336; }

.form-group.checkbox {
  margin-top: 20px; }

.checkbox input[type='checkbox'] {
  height: 0;
  width: 0;
  opacity: 0; }

.checkbox label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 10px;
  padding-left: 0; }

.checkbox .chk-span {
  top: 0;
  border: 1px solid #5a5a5a;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 0 14px 14px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  width: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1; }

.checkbox .chk-span.checked {
  top: -2px;
  border-left: 2px solid #03a9f4;
  border-bottom: 4px solid #03a9f4;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transform: rotate(-45deg) scaleY(0.5);
  -moz-transform: rotate(-45deg) scaleY(0.5);
  -ms-transform: rotate(-45deg) scaleY(0.5);
  -o-transform: rotate(-45deg) scaleY(0.5);
  transform: rotate(-45deg) scaleY(0.5); }

.checkbox .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4; }

.checkbox input[type='checkbox']:focus ~ label {
  color: #03a9f4; }
  .checkbox input[type='checkbox']:focus ~ label .chk-span {
    border-color: #03a9f4; }
    .checkbox input[type='checkbox']:focus ~ label .chk-span.checked {
      border-left-color: #03a9f4;
      border-bottom-color: #03a9f4;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent; }

@-webkit-keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.map-wrap{
    height: 100%;
    width: 100%;
}
#map-canvas{
    height: 600px;
    /*height: 100%;*/
    width: 100%;
}
#content-wrapper{
    overflow: hidden;
    line-height:1.65;
    overflow:hidden;
    white-space:nowrap;
    font-size: 14px;
}
#content-wrapper .item-title{
    margin-bottom: 3px;
    display: inline-flex;
    line-height: 50px;
    color: rgb(59, 39, 39);
}
#content-wrapper .item-title h2{
    color: rgb(59, 39, 39);
}
#content-wrapper .separator{
    background-color: black;
    height: 2px;
    width:100%;
    *width:40%;
    margin: 0px;
    *margin-left: 30%;
    margin-bottom: 7px;
    border: none;
}
#content-wrapper .item-title .fa{
    margin-right:5px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}

#content-wrapper .fa:hover{
    color: white;
    background-color: black;
    *cursor: pointer;
}

#content-wrapper label{
    font-weight: bold;
}

#content-wrapper label .fa{
    margin-right: 5px;
    width: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
}

#street{
    margin-top: 10px;
    border: 2px solid black;
}
.gm-style .gm-style-iw{
    margin-left: 8px;
}

a[href^="http://maps.google.com/maps"]{
    display:none !important
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.gm-style-cc { display:none; }

#logo{
    display: inline-flex;
    line-height: 75px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.logo-title{
    font-family: 'Pacifico', cursive !important;
    line-height: 75px;
    margin-left: 15px;
    text-shadow: 2px 3px rgb(59, 39, 39);
    color: rgb(27, 25, 25);
}
#logo .logo-title{
    font-size: 60px;
}