@import "src/assets/sass/_variables.scss";
@import "src/assets/sass/_mixins.scss";

$sideMenuSize: 250px;

.wrapper{
  border: 1px solid $border-color;
  //@include border-radius($input-border-radius);
  border-bottom-right-radius: $input-border-radius;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 100;
  min-height: 105px;
  max-width: $sideMenuSize;
  min-width: $sideMenuSize;
  @include transition($transition-slow);
  &.toggle{
    left: -$sideMenuSize;
  }
}

.content{
  padding: 15px;
  //padding-right: 65px;
  min-width: $sideMenuSize;
}

.rightMenu{
  //border: 1px solid $border-color;
  //border-left: 1px solid $border-color;
  border-bottom-right-radius: $input-border-radius;
  border-top-right-radius: $input-border-radius;
  position: absolute;
  right: -51px;
  top: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.menuButton{
  background-color: #fff;
  //border: 1px solid $border-color;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &.active{
    background-color: $main-color;
    color: #fff;
  }
}
