@import "src/assets/sass/_mixins.scss";
@import "src/assets/sass/_variables.scss";
@import "src/assets/sass/_typography.scss";

* {
  &,
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

html{
  min-height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: $base-line-height;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.ReactModalPortal{
  z-index: 1000;
  position: relative;
}
