$shadow-1: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24);
$shadow-2: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23);
$shadow-3: 0 10px 20px rgba(#000, .19), 0 6px 6px rgba(#000, .23);
$shadow-4: 0 14px 28px rgba(#000, .25), 0 10px 10px rgba(#000, .22);
$shadow-5: 0 19px 38px rgba(#000, .30), 0 15px 12px rgba(#000, .22);

$main-color: #1e8c64;
$input-main-color: #0e60c5;
$input-border-radius: 6px;
$border-color: #e1e1e1;
$label-color: #858585;

$transition: all .25s ease;
$transition-slow: all .75s ease;

// font vars
$font-size: 16px;
$line-height: 24px;
$base-line-height: 1.4;
$base-padding: 15px;

//headers
$h1-fontsize: 4.1rem;
$h2-fontsize: 3.21rem;
$h3-fontsize: 2.42rem;
$h4-fontsize: 1.71rem;
$h5-fontsize: 1.32rem;
$h6-fontsize: 1rem;
