$shadow-1: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24);
$shadow-2: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23);
$shadow-3: 0 10px 20px rgba(#000, .19), 0 6px 6px rgba(#000, .23);
$shadow-4: 0 14px 28px rgba(#000, .25), 0 10px 10px rgba(#000, .22);
$shadow-5: 0 19px 38px rgba(#000, .30), 0 15px 12px rgba(#000, .22);

$main-color: #1e8c64;
$input-main-color: #0e60c5;
$input-border-radius: 6px;
$border-color: #e1e1e1;
$label-color: #858585;

$transition: all .25s ease
